* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Determination;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* For Small Screens */
.gameboard {
  margin: 15vh auto;
  height: 85vw;
  width: 85vw;
  background-color: blue;
}

/* For Large Screens */
@media only screen and (min-width: 600px) {
  .gameboard {
    margin: 10vh auto;
    height: 80vh;
    width: 80vh;
    background-color: lightblue;
  }
}

.ContinueMenu {
  margin: auto;
  border-spacing: 10px;
}

.CurrentLoginMenu {
  margin: auto;
  align-items: center;
}

.LeaderBoardTable {
  float: right;
}

@font-face {
  font-family: Determination;
  src: url("../public/Determination.ttf");
}

.ContinueMenuButton {
  font-family: Determination;
}

input {
  font-family: Determination;
}
